<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Spotify Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Your Spotify Playlists</h1>
    <ul>
        {% for playlist in playlists %}
        <li>
            <a href="/playlist/{{ playlist.id }}?selected={{ playlist.id }}" 
               class="{% if playlist.id == selected_playlist_id %}selected{% else %}unselected{% endif %}">
                {{ playlist.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <div>

        
    </div>
</body>
</html>